body {
	font-family: Georgia, 'Times New Roman', Times, serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(../website/Background1.png) center/cover no-repeat;
	min-height: 100vh; 
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center; 
	padding: 1rem; 
	box-sizing: border-box;
}

footer {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
    padding: 0.2rem;
    background-color: rgb(63, 43, 27);
    color: #fff;
    position: fixed;
    bottom: 0px;
    width: 100%;
  }

.about-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

.content {
    padding: 15px;
    text-align: left;
    font-size: 45px;
    width: 40%;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(230, 189, 143, 0.7);
    
  }

  .content2 {
    padding: 15px;
    text-align: right;
    font-size: 45px;
    width: 40%;
    margin-left: 200px;
    margin-right: 200px;
    background-color: rgba(230, 189, 143, 0.7);
  }

  .divider {
    align-content: center;
    width: 10px;
    height: 1200px;
    background-color: rgba(63, 43, 27);
  }

  .Back {
    position: fixed;
    left: 10%;
    top: 90%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 30px;
    border: 2px solid white;
    border-style: hidden;
    background-color: rgba(230, 189, 143);
    color: white;
    z-index: 20;
    cursor: pointer;
    transition: all 1.5s ease;
    width: 250px;
    height: 120px;
    line-height: 100px;
    border-radius: 0px;
  }

.Back:hover {
transform: translate(-50%, -50%) scale(1.3);
border-radius: 50%;
width: 1000px;
height: 1000px;
padding: 0;
text-align: center;
line-height: 1000px;
}
