
body {
	font-family: Arial, sans-serif;
	margin: 0;
	padding: 0;
	background: linear-gradient(to top, rgba(0,0,0,0.5) 50%, rgba(0,0,0,0.5) 50%), url(/WDProjBerylliumBeltranSia/website/Background1.png) center/cover no-repeat;
	min-height: 100vh; 
}

main {
	min-height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center; 
	padding: 1rem; 
	box-sizing: border-box;
}


.island{
	position: fixed;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	display: block;
	max-width: 100vw; 
	width: auto;
	height: auto;
	z-index: 10;
	transition: transform 0.4s ease;
}


.island-container {
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.island-tooltip {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  top: -300px;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgba(71, 52, 46, 1);
  color: #fff;
  padding: 15px 30px;
  border: 6px;
  white-space: nowrap;
  font-size: 5.2rem;
  font-style: italic;
  font-family: Georgia, 'Times New Roman', Times, serif;
  transition: opacity 0.5s;
  z-index: 20;
}

.island-container:hover .island-tooltip {
  visibility: visible;
  opacity: 1;
}

.island:hover {
    transform: translate(-50%, -50%) scale(1.05);
}

.Homepage {
    position: fixed;
    left: 50%;
    top: 51%;
    transform: translate(-50%, -50%);
    font-size: 70px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    padding: 15px 30px;
    border: 2px solid white;
    border-style: hidden;
    background-color: rgba(230, 189, 143, 0.7);
    color: white;
    z-index: 20;
    cursor: pointer;
    transition: transform 0.4s ease;
}

.Homepage::after,
.Homepage::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
  bottom: -5px;
  left: 0;
  transform: scale(0);
  transform-origin: right;
  transition: transform 0.5s ease-out;
}

.Homepage::before {
  top: -5px;
  transform-origin: left;
}

.Homepage:hover::after,
.Homepage:hover::before {
  transform: scale(1);
}

.Homepage:hover {
    transform: translate(-50%, -50%) scale(1.3);
}

.Quiz {
  position: fixed;
  left: 20%;
  top: 30%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 30px;
  border: 2px solid white;
  border-style: hidden;
  background-color: rgba(230, 189, 143, 0.7);
  color: white;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.Quiz::after,
.Quiz::before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
bottom: -5px;
left: 0;
transform: scale(0);
transform-origin: right;
transition: transform 0.5s ease-out;
}

.Quiz::before {
top: -5px;
transform-origin: left;
}

.Quiz:hover::after,
.Quiz:hover::before {
transform: scale(1);
}

.Quiz:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.Cast {
  position: fixed;
  left: 15%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 30px;
  border: 2px solid white;
  border-style: hidden;
  background-color: rgba(230, 189, 143, 0.7);
  color: white;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.Cast::after,
.Cast::before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
bottom: -5px;
left: 0;
transform: scale(0);
transform-origin: right;
transition: transform 0.5s ease-out;
}

.Cast::before {
top: -5px;
transform-origin: left;
}

.Cast:hover::after,
.Cast:hover::before {
transform: scale(1);
}

.Cast:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.About {
  position: fixed;
  left: 22%;
  top: 76%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 30px;
  border: 2px solid white;
  border-style: hidden;
  background-color: rgba(230, 189, 143, 0.7);
  color: white;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.About::after,
.About::before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
bottom: -5px;
left: 0;
transform: scale(0);
transform-origin: right;
transition: transform 0.5s ease-out;
}

.About::before {
top: -5px;
transform-origin: left;
}

.About:hover::after,
.About:hover::before {
transform: scale(1);
}

.About:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.Songs {
  position: fixed;
  left: 80%;
  top: 31%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 30px;
  border: 2px solid white;
  border-style: hidden;
  background-color: rgba(230, 189, 143, 0.7);
  color: white;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.Songs::after,
.Songs::before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
bottom: -5px;
left: 0;
transform: scale(0);
transform-origin: right;
transition: transform 0.5s ease-out;
}

.Songs::before {
top: -5px;
transform-origin: left;
}

.Songs:hover::after,
.Songs:hover::before {
transform: scale(1);
}

.Songs:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.Story {
  position: fixed;
  left: 85%;
  top: 55%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 30px;
  border: 2px solid white;
  border-style: hidden;
  background-color: rgba(230, 189, 143, 0.7);
  color: white;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.Story::after,
.Story::before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
bottom: -5px;
left: 0;
transform: scale(0);
transform-origin: right;
transition: transform 0.5s ease-out;
}

.Story::before {
top: -5px;
transform-origin: left;
}

.Story:hover::after,
.Story:hover::before {
transform: scale(1);
}

.Story:hover {
  transform: translate(-50%, -50%) scale(1.3);
}

.Characters {
  position: fixed;
  left: 78%;
  top: 76%;
  transform: translate(-50%, -50%);
  font-size: 70px;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
  padding: 15px 30px;
  border: 2px solid white;
  border-style: hidden;
  background-color: rgba(230, 189, 143, 0.7);
  color: white;
  z-index: 20;
  cursor: pointer;
  transition: transform 0.4s ease;
}

.Characters::after,
.Characters::before {
content: '';
position: absolute;
width: 100%;
height: 2px;
background: linear-gradient(to right, #ffffff, rgb(255, 255, 255));
bottom: -5px;
left: 0;
transform: scale(0);
transform-origin: right;
transition: transform 0.5s ease-out;
}

.Characters::before {
top: -5px;
transform-origin: left;
}

.Character:hover::after,
.Characters:hover::before {
transform: scale(1);
}

.Characters:hover {
  transform: translate(-50%, -50%) scale(1.3);
}